@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Krub:wght@300;400;600;700&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Krub", sans-serif;
}

header {
  background-color: #67b639;
}

/* Utilidades */
.contenedor {
  margin: 0 auto;
  max-width: 90rem;
  width: 95%;
}

.titulo {
  font-size: 2rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.boton {
  padding: 1rem 2rem;
  background-color: #67b639;
  border: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.boton:hover {
  background-color: rgba(103, 182, 57, 0.85);
}

/* Barra de navegación */
.barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barra__titulo {
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.barra__titulo:hover {
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 500px) {
  .barra {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* etiqueta main */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 900px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Primera sección */
section {
  text-align: center;
}

input {
  margin-left: 2rem;
  font-size: 1rem;
}

.casilla-nombre {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Div sexo */
.sexo {
  margin-bottom: 2rem;
}

.sexo .casilla-nombre {
  margin-right: 3rem;
  margin-left: -4.3rem;
  margin-top: 2rem;
}

@media (max-width: 460px) {
  .sexo .casilla-nombre {
    margin-left: 0;
  }
}

.sexo .genero {
  margin-left: 1rem;
}

.sexo .genero input {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.sexo .genero input:hover {
  -webkit-filter: opacity(55%);
          filter: opacity(55%);
  cursor: pointer;
}

/* Div edad */
.edad {
  margin-bottom: 2rem;
}

#edad {
  margin-left: 1.8rem;
  width: 20rem;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#edad:hover {
  border: 1px solid #35D6ED;
}

/* Div peso */
.peso {
  margin-bottom: 2rem;
}

#peso {
  width: 20rem;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#peso:hover {
  border: 1px solid #35D6ED;
}

/* Div altura */
.altura {
  margin-bottom: 2rem;
}

#altura {
  margin-left: 1.2rem;
  width: 20rem;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#altura:hover {
  border: 1px solid #35D6ED;
}

#hombre {
  /* Icono hombre */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  content: url(../images/man-icon.png);
  width: 5rem;
  height: 5rem;
}

#mujer {
  /* Icono mujer */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  content: url(../images/woman-icon.png);
  width: 5rem;
  height: 5rem;
}

/* Segunda sección */
.resultado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.resultado .titulo {
  font-size: 1.4rem;
}

@media (max-width: 500px) {
  .resultado {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90%;
    overflow-x: hidden;
  }
}

.resultado-imc {
  margin: -1rem 0 2rem 0;
  font-size: 3.5rem;
  color: #66b23d;
  font-weight: 900;
}

.degradado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 41vw;
  height: 2rem;
  margin-bottom: 3rem;
  background: #1b7fd7;
  background: -webkit-gradient(linear, left top, right top, from(#1b7fd7), color-stop(25%, #40bc66), color-stop(50%, #fcba00), color-stop(75%, #fa4030), to(#ab00ff));
  background: linear-gradient(90deg, #1b7fd7 0%, #40bc66 25%, #fcba00 50%, #fa4030 75%, #ab00ff 100%);
}

@media (max-width: 900px) {
  .degradado {
    width: 80vw;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .degradado {
    margin-left: .5rem;
  }
}

.flecha {
  -webkit-transform: translate(0vw, 0) rotate(180deg);
          transform: translate(0vw, 0) rotate(180deg);
  height: 1.3rem;
  margin-top: 2rem;
}

.border {
  width: 40vw;
  margin-bottom: 2rem;
  border-bottom: 1px solid #a7afa6;
}

@media (max-width: 900px) {
  .border {
    width: 80vw;
  }
}

@media (max-width: 500px) {
  .border {
    margin-left: .5rem;
  }
}

.categorias {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categorias__info {
  font-size: 0.8rem;
  font-weight: 600;
}

.categoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.4rem;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */